@media screen and (max-width: 970px) {
  header nav#nav-esquerda div#logo {
    margin-left: 1rem;
  }

  header nav#nav-esquerda {
    justify-content: space-between;
  }

  header nav#nav-esquerda ul#icone-menu {
    display: flex;
  }

  header nav#nav-esquerda ul#icone-menu li#menuX {
    display: none;
  }

  /*------ menu mobile --------*/
  header nav#nav-esquerda ul.menu-principal {
    flex-direction: column;
    width: 220px;                 /* era 80px, estava muito estreito */
    height: 70vh;
    background: linear-gradient(rgba(242, 191, 128, 0.55), rgba(242, 191, 128, 0.55)),
                url("../images/header capa.jpg");
    background-size: cover;
    padding-top: .5rem;

    position: absolute;
    top: 7rem;
    right: 0;
    z-index: 999;

    display: none;
  }

  header nav#nav-esquerda ul.menu-principal li {
    margin: .5rem 1rem;
  }

  header nav#nav-esquerda ul.menu-principal li a {
    font-size: 120%;
  }
}